node_modules
.env
*.env
.env.*

# Hardhat files
/cache
/artifacts
/typechain-types

# Deployment artifacts
deployment-*.json
deployments.json

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# OpenZeppelin upgrade files
.openzeppelin
